.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  line-height: 2;
  font-size: 1.3rem;
  padding: 1.5rem 10rem;
  text-align: justify;
}

.description a {
  border-bottom: 2px solid var(--primaryMainColor);
  text-decoration: none;
}

.description a:hover {
  background-color: var(--primaryMainColor);
  color: var(--primaryBackgroundColor);
  border-bottom: 0px;
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 1rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 5px solid var(--primaryMainColor);
}

.card:hover,
.card:focus,
.card:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .description {
    padding: 1.5rem;
    text-align: center;
  }
  .card {
    border: 3px solid var(--primaryMainColor);
  }
}
