<header class="header">
  <p class="subtitle">{{ .Site.Params.titleName }}</p>
  <p class="subtitle">{{ .Site.Params.subtitle }}</p>
  <p class="subtitle"><a href="/portfolio">{{ .Site.Params.portfolio }}</a></p>
  <section>
    <div style="padding-bottom: 5px">
          <a href="https://www.patreon.com/bePatron?u=22442419" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </div>
    <div>
        <a href="https://twitter.com/iambolajiayo?ref_src=twsrc%5Etfw" class="twitter-follow-button"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div>
        <script src="https://apis.google.com/js/platform.js"></script>

        <div class="g-ytsubscribe" data-channelid="UCpFxuQyjQYal738TW0TJUNw" data-layout="default" data-count="default"></div>
    </div>
  </section>

  <button class="menu-toggle" aria-hidden="true" type="button" on="tap:sidebar.open">
    <span class="icon icon-menu"></span>
  </button>

  <!-- Sidebar is header on desktop -->
  <nav class="menu">
    <ul class="menu-list">
      {{ $type := .Type }}
      {{ $kind := .Kind }}
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li
        class="menu-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}{{ if and (eq .Identifier "home") (eq $type "post") }} is-active{{ end }}{{ if and (eq .Identifier "home") (and (eq $type "page") (eq $kind "taxonomy"))}} is-active{{ end }}">
        <a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      <li>
        <div id="codefund"></div>
      </li>
    </ul>

  </nav>

</header>
