{{ define "main" }}
{{ partial "header.html" . }}
<section class="main post-detail">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <p class="entry-meta"><span class="entry-time">{{ .Date.Format "Jan 2, 2006" }}</span> {{ .ReadingTime }} min read</p>
  </header>
  {{ partial "adsense.html" . }}
  <article class="post-content">{{ .Content }}</article>
  <footer class="post-footer">
    {{ if isset .Params "tags" }}
    <ul class="post-tags">
      {{ range $tag := .Params.tags }}
      <li class="post-tag"><a href="/tags/{{ $tag | urlize }}"><span class="tag">{{ $tag | title }}</span></a></li>
      {{ end }}
    </ul>
    {{ end }}

    <amp-iframe width=600 height=140
            layout="responsive"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            resizable
            src="https://bolajiayodeji.com/index.html">
            <div overflow tabindex=0></div>
</amp-iframe>


  </footer>
</section>
{{ partial "footer.html" . }}
{{ end }}
