@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,600);
@import url(../css/hover-min.css);
@import url(../css/bootstrap.min.css);
@import url(../css/magnific-popup.css);
@import url(../css/font-awesome.min.css);
@import url(../assets/nucleo/css/nucleo.css);
#home,
.home-info span {
	vertical-align: middle
}

body {
	background: #FFF;
	font-family: 'Roboto Mono', monospace;
	overflow-x: hidden
}


::selection {
    background: #63D1F4;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #63D1F4;
    border-radius: 5px;
  }
.overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}
.centered {
    float: none;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	line-height: inherit;
	letter-spacing: -1px
}

h1 {
	color: #292929;
	font-size: 3em;
	margin-bottom: 30px
}

h2 {
	color: #393939;
	font-size: 2em
}

h3 {
	color: #505050;
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 0
}

h4 {
	color: #696969;
	font-size: 18px;
	line-height: normal
}

p {
	color: #4c4c4c;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px
}

strong {
	font-weight: 500
}

.section-btn,
a {
	font-weight: 400
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

a {
	color: #323232;
	-webkit-transition: .5s;
	transition: .5s;
	text-decoration: none!important
}

a:active,
a:focus,
a:hover {
	color: #000;
	outline: 0
}

.section-title {
	margin-bottom: 60px;
	text-align: center
}

.section-title h2 {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 0;
	text-align: center
}

.section-title .line-bar {
	color: #d9d9d9;
	display: block;
	font-size: 5em;
	line-height: 0
}

.section-btn {
	background: #24a46d;
	border: 0;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	font-size: inherit;
	padding: 12px 30px;
	-webkit-transition: .5s;
	transition: .5s
}

.section-btn:focus,
.section-btn:hover {
	background: #2dce89;
	border-color: transparent;
	color: #fff
}

.overlay {
	border-bottom-left-radius: 50% 20%;
	border-bottom-right-radius: 50% 20%;
	background: #2dce89;
	background: -webkit-linear-gradient(to right, #2dce89, #63D1F4);
	background: linear-gradient(to right, #2dce89, #63D1F4);
	opacity: .7;
	position: absolute;
	right: 0
}

.section {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center
}

#home,
#work .work-thumb {
	position: relative;
	overflow: hidden
}

#about,
#home {
	text-align: left
}

.scroll-to-top:focus,
.scroll-to-top:hover {
	color: #fff
}

.scroll-to-top:hover {
	background: #343a40
}

.scroll-to-top i {
	font-weight: 800
}

.custom-navbar {
	border: none;
	margin-bottom: 0;
	padding: 25px 0
}

.custom-navbar .navbar-brand {
	background-color: #e9ecef;
	color: #000;
	border-radius: 8px;
	display: inline-block;
	font-size: 20px;
	line-height: -.1em;
	font-weight: 100;
	letter-spacing: -1px
}

.custom-navbar .navbar-brand:hover {
	background: #fff
}

.top-nav-collapse {
	background: #e9ecef
}

.custom-navbar .navbar-nav.navbar-nav-first {
	margin-left: 10em
}

.custom-navbar .navbar-nav.navbar-right li a {
	padding-right: 12px;
	padding-left: 12px
}

.custom-navbar .section-btn {
	padding: 15px;
	margin-left: 2em
}

.custom-navbar .section-btn:hover {
	background: #2dce89
}

.custom-navbar .section-btn a {
	padding: 0
}

.custom-navbar .nav li a {
	font-size: 14px;
	font-weight: 500;
	color: #191919;
	letter-spacing: -.5px;
	padding-right: 22px;
	padding-left: 22px
}

.custom-navbar .nav li a:hover {
	background: 0 0;
	color: #000
}

.custom-navbar .navbar-nav>li>a:focus,
.custom-navbar .navbar-nav>li>a:hover {
	background-color: transparent
}

.custom-navbar .nav li.active>a {
	background-color: transparent;
	color: #2dce89
}

.custom-navbar .navbar-toggle {
	border: none;
	padding-top: 10px;
	background-color: transparent
}

.custom-navbar .navbar-toggle .icon-bar {
	background: #252525;
	border-color: transparent
}

@media(min-width:768px) {
	.custom-navbar {
		border-bottom: 0;
		background: 0 0
	}
	.custom-navbar.top-nav-collapse {
		background: #fff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
		box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
		padding: 12px 0
	}
	.top-nav-collapse .navbar-brand {
		color: #252525
	}
	.top-nav-collapse .nav li a {
		color: #575757
	}
	.top-nav-collapse .nav .section-btn a {
		color: #fff
	}
}

#home {
	border-bottom-left-radius: 50% 20%;
	border-bottom-right-radius: 50% 20%;
	background: url(../images/header.jpg) center center no-repeat;
	background-size: cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 100vh;
	padding-top: 10em
}

#home h1 {
	color: #FFF
}

.home-info .section-btn {
	background: 0 0;
	border: 2px solid #f9f9f9;
	color: #f9f9f9
}

.home-info .section-btn:focus,
.home-info .section-btn:hover {
	background: #24a46d;
	border-color: transparent;
	color: #FFF
}

.home-info span {
	display: inline-block;
	color: #191919;
	font-weight: 500;
	margin-left: 20px
}

.home-info span small {
	display: block
}

#about {
	padding-bottom: 0
}

#about .about-info:first-child {
	margin-right: 40px
}

.about-info .section-title {
	margin: 40px 0
}

.about-info {
	margin-top: 60px
}

.about-image {
	border-radius: 10%
}

.skill-thumb strong {
	display: inline-block;
	margin-bottom: 10px
}

.skill-thumb .progress {
	background: #FFF;
	border-radius: 5px;
	box-shadow: none;
	height: 3px;
	margin-bottom: 25px
}

.skill-thumb .progress-bar {
	background: #1f1f1f;
	box-shadow: none
}

#blog-detail,
#blog-header,
.blog-thumb {
	text-align: left
}

#blog-header,
.ml1 .text-wrapper,
.social-icon,
.social-icon li a,
footer {
	position: relative
}

#blog {
	background: #f0f0f0
}

.blog-thumb {
	background: #FFF;
	-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
	border-radius: 3px;
	margin-bottom: 30px;
	height: 350px
}

.blog-thumb:hover {
    transform: translatey(-4px);
}

.media.blog-thumb .media-left {
	width: 45%
}

.blog-thumb small {
	color: #2dce89;
	font-weight: 500;
	display: block
}

.blog-thumb small .fa {
	margin-right: 5px
}

.blog-thumb h4 {
	margin-top: 2px;
	margin-bottom: 0
}

#blog-detail h2 {
	padding: 25px 0 10px
}

.blog-info {
	padding: 75px 25px
}

.blog-info h3 {
	margin: 0;
	padding: 8px 0 6px;
	text-transform: capitalize
}

.blog-info .section-btn {
	background: #f0f0f0;
	color: #393939;
	margin-top: 20px
}

.blog-info .section-btn:hover,
.link-btn {
	background: #24a46d;
	color: #FFF
}

.blog-thumb ul {
	margin: 32px 12px 22px 0
}

.blog-thumb ul li {
	list-style: square;
	font-weight: 400;
	padding: 4px 12px 4px 0
}

.link-btn {
	border: 0;
	border-radius: 12px;
	cursor: pointer;
	font-size: .6em;
	font-weight: 400;
	padding: 15px 30px;
	-webkit-transition: .5s;
	transition: .5s
}

.link-btn:hover {
	color: #FFF;
	background: #2dce89
}

.quote {
	color: rgba(0, 0, 0, .1);
	text-align: center;
	margin-bottom: 30px
}

#fade-quote-carousel.carousel {
	padding-bottom: 50px
}

#fade-quote-carousel.carousel .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity
}

#fade-quote-carousel.carousel .carousel-inner .active {
	opacity: 1;
	-webkit-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity
}

#fade-quote-carousel.carousel .carousel-indicators {
	bottom: 5px
}

#fade-quote-carousel.carousel .carousel-indicators>li {
	background-color: #2dce89;
	border: none
}

#fade-quote-carousel blockquote {
	text-align: center;
	border: none
}

#fade-quote-carousel .profile-circle {
	text-align: center;
	width: 40%;
	height: auto;
	margin: 0 auto;
	border-radius: 100%
}

.testi {
	color: #2dce89
}

#contact {
	background: #2dce89;
	background: -webkit-linear-gradient(to right, #2dce89, #63D1F4);
	background: linear-gradient(to right, #2dce89, #63D1F4)
}

#contact .section-title h2 {
	color: #fff
}

.google-map {
	border-radius: 20px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto
}

.google-map iframe {
	border: 0;
	width: 300px;
	height: 300px
}

#contact .form-control {
	border: 0;
	border-radius: 8px;
	box-shadow: none;
	color: #323232;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 15px;
	padding-left: 10px
}

#contact .form-control:focus {
	box-shadow: 0 0 0 3px #63D1F4
}

#contact input,
#contact select {
	height: 60px
}

#contact select {
	color: rgba(20, 20, 20, .5)
}

#contact input[type=submit],
#contact input[type=reset] {
	background: 0 0;
	box-shadow: inset 0 0 0 2px #e9ecef;
	border-radius: 15px;
	color: #000;
	font-weight: 500
}

#contact input[type=submit]:hover,
#contact input[type=reset]:hover {
	box-shadow: inset 0 0 0 2px #e9ecef;
	background: linear-gradient(to left, #2dce89, #63D1F4);
	color: #000
}

footer {
	background: #000;
	padding-top: 40px;
	padding-bottom: 20px
}

footer h2,
footer h3 {
	color: #fff
}

.footer-link {
	margin: 0;
	padding: 0
}

.footer-link li {
	display: block;
	list-style: none;
	margin: 5px 10px 5px 0
}

.footer-link li a,
footer p,
footer span {
	color: #d9d9d9
}

.footer-link li a:hover {
	color: #2dce89
}

.copyright-text p,
.footer-bottom .phone-contact p {
	font-size: 14px
}

.footer-info p {
	margin-right: 4em
}

.footer-bottom {
	border-top: 1px solid rgba(255, 255, 255, .1);
	margin-top: 5em;
	padding-top: 3em
}

.footer-bottom .phone-contact,
.footer-bottom .social-icon {
	display: inline-block;
	vertical-align: top
}

.footer-bottom .phone-contact {
	margin-right: 40px
}

.footer-bottom .phone-contact span {
	font-weight: 500;
	display: inline-block;
	margin-left: 10px
}

.certified {
	width: 60%
}

.social-icon {
	padding: 0;
	margin: 0
}

.social-icon li {
	display: inline-block;
	list-style: none
}

.social-icon li a {
	border-radius: 100px;
	color: #d9d9d9;
	font-size: 15px;
	text-decoration: none;
	margin: 5px 10px
}

.social-icon li a:hover {
	color: #2dce89
}

@media screen and (max-width:1170px) {
	.custom-navbar .navbar-nav.navbar-nav-first {
		margin-left: inherit
	}
}

@media screen and (max-width:991px) {
	h3 {
		font-size: 1.2em
	}
	p {
		font-size: 13px
	}
	#home {
		text-align: center
	}
	.home-info {
		margin-bottom: 3em
	}
	.custom-navbar .nav li a {
		font-size: 13px;
		padding-right: 11px;
		padding-left: 11px;
		text-align: center
	}
	.custom-navbar .section-btn {
		margin-left: 1em
	}
	.blog-thumb {
		height: inherit
	}
	.blog-info {
		padding: 45px 25px
	}
	.media.blog-thumb .media-left {
		display: block;
		width: 100%;
		padding-right: 0;
		overflow: hidden;
		height: 250px
	}
	.media.blog-thumb .media-left img {
		position: relative;
		bottom: 10em
	}
	#work .work-thumb,
	.footer-thumb {
		margin-top: 20px;
		margin-bottom: 30px
	}
}

@media only screen and (min-width:640px) and (max-width:767px) {
	#blog-header {
		height: 100vh
	}
	.media.blog-thumb .media-left {
		height: 550px
	}
	.media.blog-thumb .media-left img {
		position: relative;
		bottom: 10em
	}
}

@media screen and (max-width:767px) {
	.custom-navbar {
		background: #fff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
		box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
		padding: 10px 0
	}
	.custom-navbar .nav li a {
		line-height: normal;
		padding: 5px;
		text-align: center
	}
	.custom-navbar .navbar-brand,
	.top-nav-collapse .navbar-brand {
		color: #252525;
		font-weight: 400;
		margin-top: 15px;
		margin-left: 20px
	}
	.custom-navbar .nav li a,
	.top-nav-collapse .nav li a {
		color: #575757
	}
	.custom-navbar .navbar-nav.navbar-right li {
		display: inline-block
	}
	.custom-navbar .section-btn {
		display: block!important;
		width: 50%;
		margin: 10px auto;
		padding: 10px
	}
	.custom-navbar .section-btn a {
		color: #fff!important
	}
	.home-info span {
		margin-top: 20px
	}
	#about .about-info:first-child {
		margin-right: 0
	}
	.about-info {
		margin: 40px 0
	}
	.google-map {
		margin-top: 50px
	}
	footer {
		text-align: center
	}
	.footer-bottom .phone-contact,
	.footer-info p {
		margin-right: 0
	}
}

@media screen and (max-width:639px) {
	h1 {
		font-size: 2em
	}
	.media.blog-thumb .media-left {
		height: 320px
	}
	.media.blog-thumb .media-left img {
		position: relative;
		bottom: 6em
	}
}

.ml1 {
	font-weight: 900;
	font-size: 2.2em
}

.ml1 .letter {
	display: inline-block;
	line-height: 1em
}

.ml1 .text-wrapper {
	display: inline-block;
	padding-top: .1em;
	padding-right: .05em;
	padding-bottom: .15em
}

.ml1 .line {
	opacity: 0;
	position: absolute;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #000;
	transform-origin: 0 0
}

.ml1 .line1 {
	top: 0
}

.ml1 .line2 {
	bottom: 0
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto
}
