@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  border: 10px solid #3a7ebf;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  html,
  body {
    border: 3px solid #3a7ebf;
  }
}
